@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

a{
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.navgroup{
  display: flex;
  column-gap: 4rem;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.875rem;
}

.nav-links,
.cart-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.cart-count {
  font-size: 1.125rem;
}

.cart-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}